{% load staticfiles %}

<!DOCTYPE html>
<html lang="ar">
<head>

  <title>{% block title %}Default{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block includes %}{% endblock  %}

<style>
</style>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" 
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand pull-left" href="#"><img class="img-circle" alt="Zahmi" src="{% static 'images/zahmy_logo.png' %}"></a>
      
      </div><!--/.navbar-header -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">الرئيسية</a></li>
          <li><a href="#">منتجاتنا </a></li>
          <li><a href="#">خدماتنا </a></li>
          <li><a href="#">الأحداث </a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span> أكاديمية الزحمى</a>
          <ul class="dropdown-menu">
            <li><a href="#">المقالات </a></li>
            <li><a href="#">الخطط </a></li>
            <li><a href="#">الخدمات </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">شارك معنا </a></li>
          </ul>
          </li>
          <li><a href="#">بطولات الزحمى </a></li>
          <li class="left-element"><a href="#">من نحن </a></li>
          <li><a href="#">إتصل بنا </a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>


    {% block header %}{% endblock  %}

  <div class="container wrapper">

    {% block container %}{% endblock  %}
		
  </div> <!-- /container-fluid --> 
	
	<div class="clearfix"></div>

<div class="news">
    <div class="container">
      <div class="marquee-sibling"> الأخبار </div>
      <div class="marquee">
        <ul class="marquee-content-items">
          <li>خبر 1</li>
          <li>خبر 2</li>
          <li>خبر 3</li>
          <li>خبر 4</li>
          <li>خبر 5</li>
          <li>خبر 6</li>
        </ul>
      </div>
    </div>
</div>

  <footer>    
	  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h6>About</h6>
          <p>jydgs uef 
            wfaeg argaegaegareag teagethbar
            eeRGHRSYJ YRJHDHG
          </p>
        </div>
        <div class="col-sm-2">
        <h6>تابعنا</h6>
          <ul class="unstyled">
            <li><a href="#">facebook</a></li>
            <li><a href="#">twitter</a></li>
            <li><a href="#">youtube</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>

          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
          </address>        
        </div>
        <div class="col-sm-4"><p>جميع الحقوق محفوظة &copy; 2017 الزحمى</p></div>      
      </div>
	  </div>
	</footer>

</body>
</html>
