{% load staticfiles %}

<!DOCTYPE html>
<html lang="ar">
<head>

  <title>{% block title %}Default{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'js/libraries/nicescroll.js' %}"></script>
  {% block includes %}{% endblock  %}
<script>
$(document).ready(

  function() {$("html").niceScroll();}

);
</script>

<style>
</style>

</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" 
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        
        

      </div><!--/.navbar-header -->
      <div class="collapse navbar-collapse" id="navbar">

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              شاركنا <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">تسجيل دخول </a></li>
              <li><a href="#">إنشاء حساب </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">تسجيل خروج </a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand pull-right" href="{% url 'website:index' %}"><img class="img-brand" alt="Zahmi" src="{% static 'images/zahmy_logo.png' %}"></a></li>
          <li class="active" id="home"><a href="{% url 'website:index' %}">الرئيسية</a></li>
          <li><a href="#">منتجاتنا </a></li>
          <li><a href="#">خدماتنا </a></li>
          <li id="events"><a href="{% url 'website:events' %}">الأحداث </a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span> أكاديمية الزحمى</a>
            <ul class="dropdown-menu">
              <li><a href="#">المقالات </a></li>
              <li><a href="#">الخطط </a></li>
              <li><a href="#">الخدمات </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">شارك معنا </a></li>
            </ul>
          </li>
          <li id="championship"><a href="{% url 'website:championship' %}">بطولات الزحمى </a></li>
          <li id="about"><a href="{% url 'website:about' %}">من نحن </a></li>
          <li id="contact"><a href="{% url 'website:contact' %}">إتصل بنا </a></li>
        </ul>

      </div><!--/.navbar-collapse -->

    </div>
  </nav>

{% block header %}{% endblock  %}

<div class="container">
  {% block container %}{% endblock  %}		
</div> <!-- /container --> 

{% block container-fluid %}{% endblock  %}

<div class="clearfix"></div>

  <footer>    
	  <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h6>About</h6>
          <p>jydgs uef 
            wfaeg argaegaegareag teagethbar
            eeRGHRSYJ YRJHDHG
          </p>
        </div>
        <div class="col-sm-3">
        <h6>تابعنا</h6>
          <ul class="unstyled">
            <li><a href="#">facebook</a></li>
            <li><a href="#">twitter</a></li>
            <li><a href="#">youtube</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>

          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
          </address>        
        </div>
      </div>
      <hr>
      <div class="row social-ico">
        <div class="col-md-4 col-md-offset-4 text-center">
          <ul class="social-network social-circle">
              <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>				
				</div>
      </div>
	  </div>
    <div class="container-fluid copyrights">
      <div class="row">
        <div class="col-sm-12"><p class="text-center"><label>جميع الحقوق محفوظة &copy; 2017 الزحمى</label></p></div>
        <div class="col-sm-12"><p class="text-center poweredby"><label>POWERED BY <i>1-2 Strategy</i></label></p></div>
      </div>
    </div>
	</footer>

</body>
</html>
