{% extends 'website/base.html' %}

{% block title %}Home Page{% endblock %}

{% block container %}

  <h3>
    Timeline !
  </h3>
  
  <blockquote>
  <p>This is the very first post to show.</p>
  From <cite title="Source Title">Islam Bayoumy</cite>
</blockquote>

  <h3>
    Timeline !
  </h3>
  
  <blockquote>
  <p>This is the very first post to show.</p>
  From <cite title="Source Title">Islam Bayoumy</cite>
</blockquote>

  <h3>
    Timeline !
  </h3>
  
  <blockquote>
  <p>This is the very first post to show.</p>
  From <cite title="Source Title">Islam Bayoumy</cite>
</blockquote>

  <h3>
    Timeline !
  </h3>
  
  <blockquote>
  <p>This is the very first post to show.</p>
  From <cite title="Source Title">Islam Bayoumy</cite>
</blockquote>

  <h3>
    Timeline !
  </h3>
  
  <blockquote>
  <p>This is the very first post to show.</p>
  From <cite title="Source Title">Islam Bayoumy</cite>
</blockquote>

  <h3>
    Timeline !
  </h3>
  
  <blockquote>
  <p>This is the very first post to show.</p>
  From <cite title="Source Title">Islam Bayoumy</cite>
</blockquote>


{% endblock %}


